<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ingestion-api-test rule set" Description="StyleCopAnalyzer rule set" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1623" Action="None" />
  </Rules>
</RuleSet>